################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LightstoneAssessment/.vs/LightstoneAssessment
